*{
  padding: 0;
  margin: 0;
  border: 0;
}


.nav{
  color:#fbfbfb;
  border-radius: 0;

}

ul{
  list-style:none;
  text-align:right;
  padding:30px 100px;
  font-size:12px;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

#title{
  float:left;
  font-size:30px;
}

#nav li{
  display:inline-block;
  margin:0 10px;
  text-transform:uppercase;
}

#nav a{
  text-decoration:none;
  color:#fbfbfb;
}

#special{
  border:2px solid #f64512;
  padding:5px 10px;
  border-radius:50px;
  letter-spacing:5px;
}

#special a,#title{
  color:#f64512;
}

.navbar-brand{
    font-family: 'Sofia', sans-serif;
}

.nav{
  color:#fbfbfb;
  border-radius: 0;
  font-family: 'Sofia' , sans-serif;
}

#menu{
    display:block;
    padding:0;
    text-align:center;
    margin:50px;
}

#menu li {
    display:inline-block;
    margin: 30px;
}
