{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up</title>
     <link rel="icon" href="{% static 'img/Car_Logo.png' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="" method="post">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/Car_Logo.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal" style="color:white;"> Please sign up</h1>
      {% include 'cars/formtemplate.html' %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <a class="btn btn-block btn-secondary" href="{% url 'home' %}" role="button">Back to Home</a>
    </form>
  </body>