{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up</title>
     <link rel="icon" href="{% static 'img/Car_Logo.png' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin-2.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/Car_Logo.png' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal" style="color:white;"> Please sign up</h1>
         {% if isnotReg %}
             <div class="alert alert-danger" role="alert">
                 This username is already taken
             </div>
        {% endif %}
      {% include 'cars/formtemplate.html' %}

         <div class="col-auto">
             <div class="input-group mb-3">
                 <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon1">First Name</span>
                 </div>
                 <input type="text" class="form-control" id="exampleInputName1" placeholder="First Name" name="first_name">
             </div>
         </div>
        <div class="col-auto">
             <div class="input-group mb-3">
                 <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon1">Last Name</span>
                 </div>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Last Name" name="last_name">
             </div>
        </div>
        <div class="col-auto">
             <div class="input-group mb-3">
                 <div class="input-group-prepend">
                     <span class="input-group-text" id="basic-addon1">Email</span>
                 </div>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address" name="email">
             </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <a class="btn btn-block btn-secondary" href="{% url 'home' %}" role="button">Back to Home</a>
    </form>
  </body>