{% extends   'exterior.html' %}
{% load staticfiles %}
{%  block title %} Car Remove {%  endblock %}

{% block login %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:profile' username=user.username %}" style="color: white; ">Welcome, {{ user.first_name }}</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:login' %}" style="color: white; ">Login</a>
        {% endif %}
    {% endblock %}

    {% block logout %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:logout' %}" style="color: white; ">Logout</a>
        {% else %}

            <a class="nav-item nav-link" href="{% url 'accounts:register' %}" style="color:white;">Register</a>
        {% endif %}
    {% endblock %}


{% block content %}
    <div class="alert alert-success" role="alert">
  Are you sure you want to buy?
</div>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Buy</button>
                <a class="btn btn-outline-secondary" href="{% url 'cars:detail' pk %}" role="button">Back to Car</a>
            </div>
        </div>
    </form>


{% endblock %}