{% extends   'cars/exterior.html' %}
{% load staticfiles %}

{% block content %}


    <!-- Jumbotron-->
    <div class="jumbotron">
        <a class="btn btn-outline-dark" href="/cars/" role="button">Back</a>
           <h3> </h3>
        <h1 class="display-4">  <img src="{{car.CarImg.url}}" style="width: 300px;" alt="{{car.Model}}"> {{ car}} </h1>
        <hr class="my-4">
        <p class="lead">
            <!-- Table -->
        <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Specs</th>
            <th scope="col">Value</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Car Brand</th>
      <td>{{car.CarBrand}}</td>
    </tr>
    <tr>
      <th scope="row">Engine</th>
      <td>{{car.Engine}} L</td>
    </tr>
    <tr>
      <th scope="row">Transmission</th>
      <td>{{car.Transmission}}</td>
    </tr>
  <tr>
      <th scope="row">Year</th>
      <td>{{car.Year}}</td>
    </tr>
  <tr>
      <th scope="row">Cylinders</th>
      <td>{{car.Cylinders}}</td>
    </tr>
  <tr>
      <th scope="row">Doors</th>
      <td>{{car.DoorsNum}}</td>
    </tr>
  <tr>
      <th scope="row">Fuel Type</th>
      <td>{{car.Fuel}}</td>
    </tr>
  <tr>
      <th scope="row">Body</th>
      <td>{{car.BodyType}}</td>
    </tr>
  <tr>
      <th scope="row">Horsepower</th>
      <td>{{car.HP}}</td>
    </tr>
  <tr>
      <th scope="row">Country</th>
      <td>{{car.Country}}</td>
    </tr>
  <tr>
      <th scope="row">Mileage</th>
      <td>{{car.Mileage}} km</td>
    </tr>
  <tr>
      <th scope="row">Color</th>
      <td>{{car.Color}}</td>
    </tr>
  <tr>
      <th scope="row">Top Speed</th>
      <td>{{car.TopSpeed}} km\h</td>
    </tr>
  </tbody>
</table>
        </p>
    </div>

{% endblock %}
