{% extends 'exterior.html' %}

{% block login %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:profile' username=user.username %}" style="color: white; ">Welcome, {{ user.first_name }}</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:login' %}" style="color: white; ">Login</a>
        {% endif %}
    {% endblock %}

    {% block logout %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:logout' %}" style="color: white; ">Logout</a>
        {% else %}

            <a class="nav-item nav-link" href="{% url 'accounts:register' %}" style="color:white;">Register</a>
        {% endif %}
    {% endblock %}


{% block content %}
    <div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">Welcome to Zaghbour Company for General Trading</p>
  <hr class="my-4">
  <p>This is a page for checking, reserving and trading cars.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'cars:index' %}" role="button">Go to Index</a>
  </p>
</div>

{% endblock %}