{% extends 'exterior.html' %}
{% block login %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:profile' username=user.username %}" style="color: white; ">Welcome, {{ user.first_name }}</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:login' %}" style="color: white; ">Login</a>
        {% endif %}
    {% endblock %}

    {% block logout %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:logout' %}" style="color: white; ">Logout</a>
        {% else %}

            <a class="nav-item nav-link" href="{% url 'accounts:register' %}" style="color:white;">Register</a>
        {% endif %}
    {% endblock %}

{% block content %}
    <div class="jumbotron">
    <h1 class="display-4">Please specify date and time</h1>
        <p class="lead my-1">Bookings should be made 3 days ahead of requested date</p>
        <hr class="my-4">
<form method="post">
    {% csrf_token %}
    <div class="col-sm-5">
    <div class="input-group mb-3">

        <input type="datetime-local"  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="driveDate">
    </div>
    <div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-secondary" href="{% url 'cars:detail' pk=pk %}" role="button">Back to Details</a>
    </div>
        </div>
</form>
    </div>
{% endblock %}
