{% extends   'cars/index.html' %}
{% load staticfiles %}
{% block homebutton %}/cars/profile{% endblock %}
{% block user %}
<a class="nav-item nav-link" href="{% url 'accounts:profile' username=user.username %}" style="color: white; ">Welcome, {{ user.first_name }}</a>
{% endblock %}
{% block logout %}
     <a class="nav-item nav-link" href="{% url 'accounts:logout' %}" style="color: white; ">Logout</a>
{% endblock %}
{% block add %}
    <div class="card-body">
        <a href="{% url 'cars:cars-add' %}" class="btn btn-primary btn-outline-secondary" style="position: absolute; TOP:100px; right:179px;" >Add a car</a>
    </div>
{% endblock %}

{% block delete %}
    <a class="btn btn-primary btn-danger" href="{%url 'cars:cars-delete' car.id%}" role="button">Delete</a>
{% endblock %}

{% block edit %}
    <a class="btn btn-primary btn-info" href="{%url 'cars:cars-update' car.id%}" role="button">Edit</a>
{% endblock %}