{% extends   'logged_out_exterior.html' %}
{% load staticfiles %}
{%  block title %} Car Remove {%  endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert">
  Are you sure you want to delete?
</div>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a class="btn btn-outline-secondary" href="{% url 'cars:index' %}" role="button">Back to Index</a>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>


{% endblock %}