{% extends   'exterior.html' %}
{% load staticfiles %}
{% block title %} {{ car }}{% endblock %}
{% block login %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:profile' username=user.username %}" style="color: white; ">Welcome, {{ user.first_name }}</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:login' %}" style="color: white; ">Login</a>
        {% endif %}
    {% endblock %}

    {% block logout %}
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'accounts:logout' %}" style="color: white; ">Logout</a>
        {% else %}

            <a class="nav-item nav-link" href="{% url 'accounts:register' %}" style="color:white;">Register</a>
        {% endif %}
    {% endblock %}

{% block content %}


    <!-- Jumbotron-->
    <div class="jumbotron">
        <a class="btn btn-outline-dark" href="{% url 'cars:index' %}" role="button">Back</a>
        <h3> </h3>
        <h1 class="display-4">  <img src="{{car.CarImg.url}}" style="width: 300px;" alt="{{car.Model}}"> {{ car}} </h1>
        {% if user.is_authenticated %}
            <a  href="{% url 'testdrive:booking' car.id%}" class="badge badge-secondary">Book a test drive</a>
            <a  href="{% url 'buy:home' car.id%}" class="badge badge-secondary">Buy this car</a>
        {% else %}
            <a  href="" class="badge badge-secondary">Book a test drive </a>
            <a  href="" class="badge badge-secondary">Buy this car</a>
            <span class="badge badge-danger">Please register or login to access these features</span>
        {% endif %}
        <hr class="my-4">
        <p class="lead">
            <!-- Table -->
        <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Specs</th>
            <th scope="col">Value</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Car Brand</th>
      <td>{{car.CarBrand}}</td>
    </tr>
    <tr>
      <th scope="row">Engine</th>
      <td>{{car.Engine}} L</td>
    </tr>
    <tr>
      <th scope="row">Transmission</th>
      <td>{{car.Transmission}}</td>
    </tr>
  <tr>
      <th scope="row">Year</th>
      <td>{{car.Year.year}}</td>
    </tr>
  <tr>
      <th scope="row">Cylinders</th>
      <td>{{car.Cylinders}}</td>
    </tr>
  <tr>
      <th scope="row">Doors</th>
      <td>{{car.DoorsNum}}</td>
    </tr>
  <tr>
      <th scope="row">Fuel Type</th>
      <td>{{car.Fuel}}</td>
    </tr>
  <tr>
      <th scope="row">Body</th>
      <td>{{car.BodyType}}</td>
    </tr>
  <tr>
      <th scope="row">Horsepower</th>
      <td>{{car.HP}}</td>
    </tr>
  <tr>
      <th scope="row">Country</th>
      <td>{{car.Country}}</td>
    </tr>
  <tr>
      <th scope="row">Mileage</th>
      <td>{{car.Mileage}} km</td>
    </tr>
  <tr>
      <th scope="row">Color</th>
      <td>{{car.Color}}</td>
    </tr>
  <tr>
      <th scope="row">Top Speed</th>
      <td>{{car.TopSpeed}} km\h</td>
    </tr>
  </tbody>
</table>
    </div>

{% endblock %}
