{% extends   'logged_out_exterior.html' %}
{% load staticfiles %}
{% block title%} Car Index {% endblock %}
{% block content %}

  {% block add %}{% endblock %}
  <!-- Car Cards -->
  <ul id="menu">
  {% for car in carList %}

 <li>
     <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{car.CarImg.url}}" alt="{{car.Model}}">
      <div class="card-body">
          <h5 class="card-title">{{car}}</h5>
          <p class="card-text">{{car.Transmission}} </p>
          {% block edit %}{% endblock %}
          <a href="{% url 'cars:detail' pk=car.id %}" class="btn btn-primary">Details</a>
          {% block delete %} {% endblock %}

      </div>
  </div>
      </li>

  {% endfor %}
</ul>


{% endblock %}
