{% extends 'exterior.html' %}
{% block title %} Search {% endblock %}

{% block content %}
    <h1></h1>
    <h1 style="margin-top: 15px; margin-left: 15px">Search cars</h1>
    <div class="container-fluid" style="margin-top: 25px" >
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Brand Name</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.CarBrand }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Model Name</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Model }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Year of Manufacture</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in ordered %}
                                    <option value="{{ car.Year }}">{{ car.Year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Engine</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Engine }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Number of Cylinders</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Cylinders }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Number of Doors</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.DoorsNum }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Weight</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Weight }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Fuel Type</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Fuel }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Body Type</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.BodyType }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Transmission Type</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Transmission }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Horsepower</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.HP }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Top Speed</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.TopSpeed }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Fuel Capacity</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.FuelCapacity }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Country of Manufacture</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Country }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Mileage</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Mileage }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Color</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>All</option>
                                {% for car in carList %}
                                    <option value="{{ car.pk }}">{{ car.Color }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-sucess">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
