.navbar-brand{
    font-family: 'Sofia', sans-serif;
}

.nav{
  color:#fbfbfb;
  border-radius: 0;
  font-family: 'Sofia' , sans-serif;
}

#menu{
    display:block;
    padding:0px;
    text-align:center;
    margin:50px 0;
}

#menu li {
    display:inline-block;
    margin: 30px;
}

.img-fluid {
    width: 200px;
    height: 200px;
}