.navbar-brand{
    font-family: 'Sofia';
}

.nav{
  color:#fbfbfb;
  border-radius: 0;
  font-family: 'Sofia';
}

#menu{
    display:block;
    padding:0px;
    text-align:center;
    margin:50px 0;
}

#menu li {
    display:inline-block;
    margin: 30px;
}

.img-fluid{
 width : 200 px;
 height: 200 px;
}